*{
	box-sizing: border-box;
	text-align: center;	
}

body{
	margin: auto;
	height: 638px;
}

nav{
	margin-left: 7.5%;
	margin-right: 7.5%;
	border: solid 1px #cccccc;
	background-color: #ffffff;
	height: 70px;
}
	.name{
		float: left;
		margin-left: 5%;
		background-color: #4aaaa5;
		padding: 20px;
		color: white;
		font-size: 25px;
		height: 100%;
	}

	a:link{
	text-decoration: none;
	color: #777777;
	}

	.right{
	float: right;
	width: 8%;
	font-size: 14px;
	margin-top: 20px;
	margin-bottom: 30px;
	}

		.contact{
		margin-right: 50px;
		}

		.portfolio{
		border-right: solid 1px #cccccc;
		}

		.about{
		border-right: solid 1px #cccccc;
		}
main{
	clear: both;
	margin-left: 7.5%;
	margin-right: 7.5%;
	background-image: url("images/tile.jpg");
	background-repeat: repeat;
	height: 78%;
	border: solid 1px #cccccc;
}
/* main contact box*/
	.contentbox{
		float: left;
		margin-left: 5%;
		margin-top: 2.5%;
		background-color: white;
		border: solid 1px #cccccc;
		width: 45%;
		min-width: 300px;
		height: 90%;	
	}
	
	.cn{
		font-size: 23px;
		color: #4aaaa5;
		text-align: left;
		font-weight: bolder;
		padding-bottom: 15px;
		margin-left: 15px;
		margin-right: 15px;
		margin-top: 30px;
		border-bottom: solid 2px #cccccc;
	}
	
	form{
		clear: both;
    	margin: 15px;
}


	h5{
		text-align: left;
		padding: 10px 5px 5px 0px;
		margin: 0px;
		font-size: 13px;
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		color: #777777;
	}
    .fill{
    	width: 100%;
    	padding: 5px;
    	text-align: left;
    }

    .message{
    	width: 100%;
    	height: 125px;
    	padding: 0px;
    	text-align: left;
    }

	input[type=submit] {
	float: left;
    background-color: #4aaaa5;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 80px;
    text-align: center;
    margin-top: 15px;
	}

	
		
	.social{
		float: left;
		margin-top: 2.5%;
		margin-left: 7.5%;
		background-color: white;
		height: 30%;
		width: 215px;
		border: solid 1px #cccccc;
	}

		.connectwithme{
			z-index: 1;
			margin: 5px 15px 20px 15px;
			padding: 10px;
			border-bottom: solid 1px #cccccc;
			color: #4aaaa5;

		}
	
		.git{
			float: left;
			z-index: 2;
			position: relative;
			margin-right: 5px;
			margin-left: 22px;
			width: 50px;
			height: 50px;
		}

		.linked{
			float: left;
			z-index: 2;
			position: relative;
			margin-right: 5px;
			width: 50px;
			height: 50px;
		}

		.stack{
			float: left;
			z-index: 2;
			position: relative;
			margin-right: 5px;
			width: 50px;
			height: 50px;
		}
footer{
	clear: both;
	width: 85%;
	height: 70px;
	background-color: #666666;
	color: #cccccc;
	border-top: solid 6px #4aaaa5;
	margin-left: 7.5%;
	margin-right: 7.5%;
	padding: 20px;
}