*{
	box-sizing: border-box;
	text-align: center;	
}

body{
	margin: 0px;
}
.totustuus{
	margin: auto;
	width: 960px;

	
}

/* navigation bar styling start*/
nav{
	border: solid 1px #cccccc;
	height: 70px;
}
	.navleft{
		float: left;
		margin-left: 80px;
		background-color: #4aaaa5;
		color: white;
		height: 100%;
		
	}
		h2{
			height: 100%;
			padding: 15px;
			margin-top: 5px;
			font-family: 'Georgia', Times, Times New Roman, serif;
			}
	.navright{
		float: right;
		margin-top: 23px;
		margin-right: 80px;
	}
		.right{
			text-decoration: none;
			color: #777777;
			padding: 0px 13px 0px 13px;
			font-family: 'Georgia', Times, Times New Roman, serif;
			font-size: 15px;
		}

/* navigation bar styling end */		

/* main box*/	
main{
	background-image: url("images/tile.jpg");
	background-repeat: repeat;
	height: 482px;
	border: solid 1px #cccccc;
}



	
	.acontent{
		float: left;
		width: 530px;
		height: 420px;
		background-color: white;
		border: solid 1px #cccccc;
		margin-top: 30px;
		margin-left: 80px;
	}
		.aboutme{
			
			font-family: 'Georgia', Times, Times New Roman, serif;
			color: #4aaaa5;
			margin-left: 20px;
			margin-right: 20px;
			text-align: left;
			font-weight: bold;
			font-size: 27px;
			padding-bottom: 20px;
			border-bottom: solid 2px #cccccc;
		}
		.treehouse{
			float: left;
			width: 100px;
			height: 120px;
			float: left;
			margin-left: 20px;
			margin-right: 20px;

		}

		.text{
			font-family: 'Georgia', Times, Times New Roman, serif;
			text-align: left;
			font-size: 16px;
			line-height: 24px;
			color: #777777;
			margin: 20px;
		}

	.connect{
		float: left;
		margin-top: 30px;
		margin-left: 30px;
		background-color: white;
		height: 150px;
		width: 215px;
		border: solid 1px #cccccc;
	}
		.connectwithme{
			font-family: 'Georgia', Times, Times New Roman, serif;
			margin: 5px 15px 20px 15px;
			padding: 10px 0px 10px 0px;
			border-bottom: solid 1px #cccccc;
			color: #4aaaa5;
		}
	
		.git{
			float: left;
			position: relative;
			margin-right: 5px;
			margin-left: 22px;
			width: 50px;
			height: 50px;
		}

		.linked{
			float: left;
			position: relative;
			margin-right: 5px;
			width: 50px;
			height: 50px;
		}

		.stack{
			float: left;
			position: relative;
			margin-right: 5px;
			width: 50px;
			height: 50px;
		}

footer{
	clear: both;
	height: 70px;
	background-color: #666666;
	color: #cccccc;
	border-top: solid 6px #4aaaa5;
	padding: 20px;
}