*{
	box-sizing: border-box;
	text-align: center;	
}

body{
	margin: auto;
	height: 638px;
}

nav{
	margin-left: 7.5%;
	margin-right: 7.5%;
	border: solid 1px #cccccc;
	background-color: #ffffff;
	height: 70px;
}
	.name{
		float: left;
		margin-left: 5%;
		background-color: #4aaaa5;
		padding: 20px;
		color: white;
		font-size: 25px;
		height: 100%;
		font-family: 'Georgia', Times, Times New Roman, serif;
	}

	a:link{
	text-decoration: none;
	}
	a:unvisited{
		color: #777777;
	}	
	a:visited{
		color: purple;
	}

	.right{
	font-family: 'Georgia', Times, Times New Roman, serif;	
	float: right;
	width: 8%;
	font-size: 14px;
	margin-top: 20px;
	margin-bottom: 30px;
	color: #777777;
	}

		.contact{
		margin-right: 50px;
		}

		.portfolio{
		border-right: solid 1px #cccccc;
		}

		.about{
		border-right: solid 1px #cccccc;
		}

		#switch{

	}
main{
	clear: both;
	margin-left: 7.5%;
	margin-right: 7.5%;
	background-image: url("images/tile.jpg");
	background-repeat: repeat;
	height: 78%;
	border: solid 1px #cccccc;
}

/* main about box*/

	.contentbox{
		float: left;
		margin-left: 5%;
		margin-top: 2.5%;
		background-color: white;
		border: solid 1px #cccccc;
		width: 580px;
		height: 90%;	
	}
		.aboutme{
			font-family: 'Georgia', Times, Times New Roman, serif;
			color: #4aaaa5;
			margin-left: 20px;
			margin-right: 20px;
			text-align: left;
			font-weight: bold;
			font-size: 27px;
			padding-bottom: 20px;
			border-bottom: solid 2px #cccccc;
		}

		.treehouse{
			width: 100px;
			height: 120px;
			float: left;
			margin-left: 20px;
			margin-right: 20px;

		}

		.text{
			font-family: 'Georgia', Times, Times New Roman, serif;
			margin-right: 20px;
			margin-left: 20px;
			text-align: left;
			font-size: 14px;
			line-height: 32px;
			color: #777777;
		}

	.social{
		float: left;
		margin-top: 2.5%;
		margin-left: 5%;
		background-color: white;
		height: 30%;
		width: 215px;
		border: solid 1px #cccccc;
	}
		.connectwithme{
			font-family: 'Georgia', Times, Times New Roman, serif;
			z-index: 1;
			margin: 5px 15px 20px 15px;
			padding: 10px;
			border-bottom: solid 1px #cccccc;
			color: #4aaaa5;

		}
	
		.git{
			float: left;
			z-index: 2;
			position: relative;
			margin-right: 5px;
			margin-left: 22px;
			width: 50px;
			height: 50px;
		}

		.linked{
			float: left;
			z-index: 2;
			position: relative;
			margin-right: 5px;
			width: 50px;
			height: 50px;
		}

		.stack{
			float: left;
			z-index: 2;
			position: relative;
			margin-right: 5px;
			width: 50px;
			height: 50px;
		}

footer{
	clear: both;
	width: 85%;
	height: 70px;
	background-color: #666666;
	color: #cccccc;
	border-top: solid 6px #4aaaa5;
	margin-left: 7.5%;
	margin-right: 7.5%;
	padding: 20px;
}